:root {
    --primary: #A294F9;
    --primary-010: #7B71BF;
  
    --secondary: #564F85;
    --secondary-010: #302C4B;
  
    --white: #fff;
  
    --black: #10101a;
    --black-010: #2a2a30;
  
    --grey: #D4D4DB;
  }