<header>
    <img src="assets/img/gatinho.jpg" alt="Matheus Alexandre - Foto de Perfil" width="130px" height="130px" loading="eager">
    <h1>Matheus Alexandre</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Java | Quarkus | Angular</p>
        <p>Palmas, Tocantins, Brasil</p>
        <p>Estudante de Sistemas de Informação e intusiasta na área de desenvolvimento de
            software.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="" target="_blank" class="btn-btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" class="btn-btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone para contanto do WhatsApp" width="22px" height="24px">
            </figure>

            <figcaption>
                <a href="" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (63) x xxxx-xxxx</p>
                </a>
            </figcaption>
            <figure>
                <img src="assets/icons/mail.svg" alt="Icone para contanto do Email" width="22px" height="24px">
            </figure>

            <figcaption>
                <a href="mailto:matheuznardi@gmail.com" target="_blank">
                    <strong>Envie uma email para:</strong>
                    <p>Email: matheuznardi&#64;gmail.com</p>
                </a>
            </figcaption>
        </section>
    </div>
</aside>