<header>
    <img src="assets/img/gatinho.jpg" alt="Matheus Alexandre - Foto de Perfil" width="130px" height="130px"
        loading="eager">
    <h1>Matheus Alexandre</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Java | Spring | Quarkus | Angular</p>
        <p>Palmas, Tocantins, Brasil</p>
        <p>Estudante de Sistemas de Informação e intusiasta na área de desenvolvimento de
            software.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv_matheus.pdf" target="_blank" class="btn btn-primary">
                        Download Currículo
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheus-nardi/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Matheus-Nardi" target="_blank" class="btn btn-primary">
                        Github
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>